# 함수
---

## 함수 정의

In [1]:
def func_sum(num1, num2):  
    return num1+num2

In [2]:
func_sum(3, 5)

8

### 인자 X / 반환값X

In [3]:
def hello_world():
    print("Hello World")

In [4]:
a = hello_world()

Hello World

In [5]:
print(a)

None

## 인자 O  / 반환값 X

In [7]:
def hello_name(name):
    print("hello %s" % name)

In [8]:
my_name = "신윤수"
a = hello_name(my_name)

hello 신윤수

In [9]:
print(a)

None

## 인자 O  / 반환값 O

In [10]:
def func_sum(num1, num2):  
    return num1+num2

In [11]:
a = func_sum(3, 5)

In [12]:
print(a)

8

## 인자X / 반환값 O

In [13]:
import random

def make_lotto_numbers():
    return [random.randint(1,45) for x in range(6)]

In [22]:
lotto_numbers = make_lotto_numbers()

In [23]:
lotto_numbers

[15, 35, 18, 36, 14, 14]

# 변수의 유효범위
**변수의 스코프(scope):** 변수의 관점에서의 범위. (어디까지 볼 수 있니?)  
모듈, 함수, 클래스만 scope를 가짐


**지역변수:** 함수 내에서 정의되는 변수  
**전역변수:** 함수 밖에서 정의되는 변수

In [3]:
# 전역변수 a, b, c
a = 1
b = 2
c = 5

In [4]:
def func1():
    a = 3
    b = 4
    print(a, b, c)

In [5]:
func1()

3 4 5

In [6]:
print(a,b)

1 2

##### func2 추가

In [30]:
def func2():
    # 지역변수 a, b
    a = 5
    b = 6

    # func1 호출
    func1()

    print(a, b)

In [31]:
func2()

3 4 5
5 6

In [32]:
print(a,b)

1 2

In [33]:
a = 5

In [34]:
def func1():
    a = 3
    print(a)

In [35]:
func1()

3

In [36]:
def func2():
    global a
    a = 50
    print(a)

In [37]:
func2()

50

In [38]:
a

50

# 사칙연산 함수만들기
ex)
calc(5, 6)
덧셈: 11, 뺄셈: -1, 곱셈: 30, 나눗셈: 0.8333333333333334

a= calc(5,6)
a가 tuple형(11, -1, 30 , 0.8333)

In [39]:
def calc(a, b):
    print("덧셈: {}, 뺄셈: {}, 곱셈: {}, 나눗셈: {}".format(a+b, a-b, a*b, a/b))
    return a+b, a-b, a*b, a/b

In [40]:
a = calc(5, 6)

덧셈: 11, 뺄셈: -1, 곱셈: 30, 나눗셈: 0.8333333333333334

In [41]:
print(a)

(11, -1, 30, 0.8333333333333334)

In [43]:
a, b, c, d = calc(5, 6)

덧셈: 11, 뺄셈: -1, 곱셈: 30, 나눗셈: 0.8333333333333334

In [44]:
a

11

In [45]:
b

-1

In [46]:
c

30

In [47]:
d

0.8333333333333334

## 연습문제2
해당값을 모두 찾아 위치를 리턴해주는 함수만들기  
ex)  
>>> lis = [1, 2, 3, 1, 4, 2, 1]   
>>> allindex(lis, 1)  

[0, 3, 6]   

def allinedx(a, b):

In [52]:
def allindex(l, target):
    result = []
    for idx, x in enumerate(l):
        if x==target:
            result.append(idx)

    return result

In [53]:
lis = [1, 2, 3, 1, 4, 2, 1]

0

In [56]:
allindex(lis, 2)

[1, 5]

In [58]:
import math

def euclidean_distance(pos1, pos2):
    # 인자가 있고(2개), return 값도 있음.
    
    if type(pos1) != type(pos2) != type(list()):
        # list 형태만 가능
        print('Error발생!')
        return None  # 생략 가능
    
    total = 0
    for p1, q1 in zip(pos1, pos2):
        total += (p1-q1)**2
    
    return math.sqrt(total)

In [59]:
pos1, pos2 = [2, 1], [5, 5]
euclidean_distance(pos1, pos2)

5.0

In [60]:
pos1, pos2 = [2,1,3], [5,6,8]
euclidean_distance(pos1, pos2)

7.681145747868608

## 연습문제1.
사칙연산 함수만들기  
ex) calc(5, 6)  
덧셈: 11, 뺄셈: -1, 곱셈: 30, 나눗셈: 0.8333333333333334

## 연습문제2.
해당값을 모두 찾아 위치를 리턴해주는 함수만들기  
ex)  
```
lis = [1, 2, 3, 1, 4, 2, 1]  
allindex(lis, 1)
```

[0, 3, 6]

# lambda 함수

In [61]:
def func1(name):
    return name

In [7]:
(lambda x: x**2)(3)

9

In [8]:
mul_func = lambda x, y : x*y

In [9]:
mul_func(5,6)

30

In [13]:
(lambda  : print("A"))()

A

In [ ]:
(lambda name : print("나의 이름은: %s" %name))("신윤수")

In [ ]:
(lambda : 3)()

In [65]:
mul_func(8, 4)

32

## 함수 응용

### 함수값에 리스트 사용

In [14]:
def func1(a,b,c):
    return a+b+c

In [15]:
func1(0,1,2)

3

In [16]:
a = list(range(3))
a

[0, 1, 2]

In [17]:
func1(*a)

3

In [18]:
def func1(a, b, c):
    print("a: {}, b: {}, c: {}".format(a,b,c))
    return a+b+c

In [19]:
func1(*[5,7,8])

a: 5, b: 7, c: 8

20

In [80]:
func1(*(5,7,8))

a: 5, b: 7, c: 8

20

### 가변인수  (arguments)

In [20]:
def func2(*args):
    print(type(args))
    
    print('-'*10)
    
    for arg in args:
        print(arg)
        
    return sum(args)

In [21]:
func2(1,2,3,4)

<class 'tuple'>
----------
1
2
3
4

10

In [83]:
func2(5,8,7)

<class 'tuple'>
----------
5
8
7

20

In [87]:
func2([1, 2, 3])

<class 'tuple'>
----------
[1, 2, 3]

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [88]:
func2([1, 2, 3], [4,5,6])

<class 'tuple'>
----------
[1, 2, 3]
[4, 5, 6]

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [89]:
func2(*[1, 2, 3])

<class 'tuple'>
----------
1
2
3

6

### 함께 사용

In [22]:
def func3(a, b, *args):
    print("a: {}, b: {}".format(a, b))
    print('-'*10)
    
    for arg in args:
        print(arg)
    
    return sum(args+(a,b))

In [23]:
func3(1, 2, 1, 2, 3, 4)

a: 1, b: 2
----------
1
2
3
4

13

### 키워드 인수 & 딕셔너리 언패킹

In [24]:
def func4(name, email):
    print("이름: ", name)
    print("이메일: ", email)
    
    return {
        'name': name,
        'email': email
    }

In [25]:
func4(name="신윤수", email='tweatershin@gmail.com')

이름:  신윤수
이메일:  tweatershin@gmail.com

{'name': '신윤수', 'email': 'tweatershin@gmail.com'}

In [26]:
func4("신윤수", email='tweatershin@gmail.com')

이름:  신윤수
이메일:  tweatershin@gmail.com

{'name': '신윤수', 'email': 'tweatershin@gmail.com'}

In [27]:
func4(email='tweatershin@gmail.com', name="신윤수")

이름:  신윤수
이메일:  tweatershin@gmail.com

{'name': '신윤수', 'email': 'tweatershin@gmail.com'}

In [99]:
# 에러 발생 -> 앞에 키워드를 썼으면 뒤에도 쭉 키워드를 써야함
func4(email="tweatershin@gmail.com", "신윤수")

SyntaxError: positional argument follows keyword argument (<ipython-input-99-06b04a16f256>, line 2)

In [28]:
profile = {
    'email': "tweatershin@gmail.com",
    'name': "신윤수"
}

In [29]:
func4(**profile)

이름:  신윤수
이메일:  tweatershin@gmail.com

{'name': '신윤수', 'email': 'tweatershin@gmail.com'}

In [102]:
profile = {
    'name': '신윤수',
    'email': 'tweatershin@gmail.com',
    'region': "Seoul"
}

In [106]:
def func4_1(name, email, region):
    print("name: {}, \nemail: {}, \nregion: {}".format(name, email, region))

In [107]:
func4_1(**profile)

name: 신윤수,
email: tweatershin@gmail.com,
region: Seoul

### 가변 키워드 인수 (keywords arguments)

In [30]:
def func5(**kwargs):
    print(type(kwargs))
    print("-"*10)
    
    print("이메일: ", kwargs['email'])
    print("이름: ", kwargs.get('name')) # get함수!

In [31]:
func5(name="신윤수", email="tweatershin@gmail.com")

<class 'dict'>
----------
이메일:  tweatershin@gmail.com
이름:  신윤수

In [32]:
func5(**profile)

<class 'dict'>
----------
이메일:  tweatershin@gmail.com
이름:  신윤수

In [111]:
# is_korean은 사용 안함.
func5(name="신윤수", email="tweatershin@gmail.com", is_korean=True)

<class 'dict'>
----------
이메일:  tweatershin@gmail.com
이름:  신윤수

In [112]:
func5(email="tweatershin@gmail.com")

<class 'dict'>
----------
이메일:  tweatershin@gmail.com
이름:  None

In [113]:
func5(name="신윤수")

<class 'dict'>
----------

KeyError: 'email'

In [114]:
def func5(**kwargs):
    
    if kwargs.get('email'):
        email = kwargs['email']
    else:
        email = None
    
    print("이메일: ", email)
    print("이름: ", kwargs.get('name')) # get함수!

### 매개변수 초기값: default parameter

In [1]:
# default 값은 반드시 뒤에서부터(오른쪽)
# 컴퓨터는 순서를 모른다.
# func6(name="신윤수", email, age) 일 경우 생길 혼돈을 생각해보자
def func6(name, email, age=20): 
    print("이름: ", name)
    print("이메일: ", email) # get함수!
    print("나이: ", age)

In [2]:
func6("신윤수", "tweatershin@gmail.com")

이름:  신윤수
이메일:  tweatershin@gmail.com
나이:  20

In [3]:
func6("신윤수", "tweatershin@gmail.com", 30)

이름:  신윤수
이메일:  tweatershin@gmail.com
나이:  30

In [6]:
func6(email="tweatershin@gmail.com", name='신윤수', age=30)

이름:  신윤수
이메일:  tweatershin@gmail.com
나이:  30

In [12]:
def func7(**kwargs):
    print(kwargs)
    print(kwargs.get('name'))

In [13]:
func7(name="신윤수", address="서울")

{'name': '신윤수', 'address': '서울'}
신윤수

## 모두 다 이용해보자

In [125]:
def last_func(name, email, addr=None ,age=20, *args, **kwargs):
    print("name: ", name)
    print("email: ", email)
    print("age: ", age)
    
    if addr is None:
        addr = "서울시"
    print('addr: ', addr)
    
    print('-'*10, 'args 시작')
    for arg in args:
        print(arg)
    
    print('-'*10, 'kwargs 시작')
    for key in kwargs:
        print(key, kwargs[key])

In [126]:
last_func("신윤수", 'tweatershin@gmail.com', 30, 
          40, 1,2,3, is_korean=True, birth="0305")

name:  신윤수
email:  tweatershin@gmail.com
age:  40
addr:  30
---------- args 시작
1
2
3
---------- kwargs 시작
is_korean True
birth 0305

In [127]:
last_func("신윤수", 'tweatershin@gmail.com', "인천시", 
          is_korean=True, birth="0305")

name:  신윤수
email:  tweatershin@gmail.com
age:  20
addr:  인천시
---------- args 시작
---------- kwargs 시작
is_korean True
birth 0305

# 연습문제3
가변인수와 고정인수를 사용해 모든값을 더하거나 빼거나 곱하는 함수 작성  
ex)  
> calc("+", 1, 2, 3, 4, 5) # 1 + 2 + 3 + 4 + 5  
15  
> calc("-", 1, 2, 3, 4, 5) # 1 - 2 - 3 - 4 - 5  
-13  
> calc("*", 1, 2, 3, 4, 5) # 1 * 2 * 3 * 4 * 5  
120

In [129]:
def calc(oper, *args):
    if oper =='+':
        return sum(args)
    elif oper =='-':
        # 공통: args[0] 기준으로 잡고
        criteria = args[0]
        # 1. for 문을 통해 반복을 돌린다.
#         for x in args[1:]:
#             criteria -= x
#         return criteria
        # 2. args[0] - (sum(args[1:]))
        return criteria - (sum(args[1:]))
    elif oper =='*':
        # 1. for 문을 통해 반복을 하자
        result = 1
        for x in args[1:]:
            result*=x
        return result
    else:
        print("Error 발생 첫번째 인수는 연산자여야 합니다.")
        return None

In [130]:
calc('+', 1,2,3,4,5)

15

In [131]:
calc('-', 1,2,3,4,5)

-13

In [132]:
calc('*', 1,2,3,4,5)

120

In [135]:
eval("2*3")

6

In [136]:
a = "3*3"
a

'3*3'

In [137]:
eval(a)

9

# 연습문제4 
가변인수를 이용 가장 높은값, 낮은값, 평균값을 구하는 함수 작성
ex)
>>> calc(1,2,3,4,5)
최대값 : 5, 최소값 : 1, 평균값 : 3.0

In [138]:
def cal(*args):
    print("최대값: {}, 최소값: {}, 평균값: {}".format(max(args), min(args), sum(args)/len(args)))

In [139]:
cal(42,3,4,5,7,1,1)

최대값: 42, 최소값: 1, 평균값: 9.0